#StartBody {
    font-family: Arial;
    Text-align: center;
    justify-content: center;
    display: flex;
}

#displayID {
    color:rgb(33, 206, 27);
    margin-bottom: 1px;
}

#displayIDname {
     color:rgb(61, 14, 230);
    margin-top: 1px;
}

#ValKnappar {
    margin-top: 15px;
}

#knapp {
    height: 200px;
    border-radius: 7px;
    border-width: 1px;
    font-size: 25px;
    background-color: rgb(33, 206, 27);
    transition: background-color 0.3s ease;
}

#knappStart {
    height: 75px;
    border-radius: 7px;
    border-width: 1px;
    font-size: 25px;
    background-color: rgb(33, 206, 27);
    transition: background-color 0.3s ease;
}

#knappStart:hover {
    border-width: 1px;
    cursor: pointer;
    background-color: rgb(94, 255, 0);
    text-shadow: inset;
}

#knappLeave {
    height: 75px;
    border-radius: 7px;
    border-width: 0px;
    font-size: 25px;
    background-color: rgb(206, 15, 15);
    transition: background-color 0.3s ease;
    transition: border-width 0.1s ease;
    margin: 25px;
}

#knappLeave:hover {
    cursor: pointer;
    background-color: rgb(253, 8, 28);
    text-shadow: inset;
}

#knapp:hover {
    background-color: forestgreen;
    cursor: pointer;
}

#ErrorMessage {
    color: crimson;
}

#lobbyVisning {
    background-color: gray;
    border-style: solid;
    width: 300px;
}

#spelarelobby {
    color:rgb(250, 234, 11)
}

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.player2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.player1 { grid-area: 2 / 1 / 3 / 2; }
.GameTable { grid-area: 2 / 2 / 3 / 3; }
.player3 { grid-area: 2 / 3 / 3 / 4; }
.PlayerList { grid-area: 3 / 1 / 4 / 2; }
.playerYou { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }

